/* CSS code */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}


.container-fluid {
    height: 100px;
    border-radius: 2px;
    background-color:#f19009;   
    
}

a.navbar-brand {
    font: 900;
    font-size: 30px;
    margin: 3px;
    color: white;
    font-weight: 700;
}
a.nav-link {
    font: 600;
    font-size: 30px;
    margin: 3px;
    color: #8a4f7d;
    font-weight: 700;
}
a.navbar-brand:hover {
    font-weight: 700;
    border-bottom: #9bccff solid;
}

a.nav-link:hover {
    font-weight: 700;
    border-bottom: #9bccff solid;
}

.jumbotron{
   background: url('./Images/bckimg.jpg');
   background-position-x: center;
   background-position-y: center;
}
p.lead {
    font: 900;
    font-size: 30px;
    margin: 3px;
    color: whitesmoke;
    font-weight: 700;
}
h1.display-1 {
    font: 900;
    font-size: 5rem;
    text-shadow: #8a4f7d;
    margin: 3px;
    color: white;
    font-weight: 300;
    line-height: 1.2;
}
div.container.p-1{
    width: 100%;
}
/* @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  } */