/* CSS code */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}


.container-fluid {
    background-color:#ff6f69;   
}

a.navbar-brand {
    font: 900;
    font-size: 30px;
    margin: 3px;
    color: white;
    font-weight: 700;
}
a.nav-link {
    font: 900;
    font-size: 30px;
    margin: 3px;
    color: #8a4f7d;
    font-weight: 700;
}